<div class="">
  <div class="card bg-dark text-white">
    <img class="rounded card-img" src="./img/Family.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h3 class="card-title">Life Insurance</h3>
      <p class="card-text">Providing for your loved ones when you are gone.</p>

      <div class="card-body">
        <div class="col-sm-4">
          <input type="button" value="Premium Calculator" [routerLink]="['../premium-calculator']" class="btn btn-danger w-100">
        </div>
      </div>
    </div>
  </div>
</div>
