<h1>Life insurance calculator</h1>

<p>
  This calculator helps you work out:
</p>
<ul>
  <li>if you need life cover</li>
  <li>how much life cover you might need</li>
  <li>what expenses your life cover will pay for when you die.</li>
</ul>


<form [formGroup]="premiumCalculatorForm" (ngSubmit)="calculatePremium()">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Name*</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-3 col-form-label">Date of Birth*</label>
    <div class="col-sm-4">
      <input type="date"  min="{{beginDate}}" max="{{endDate}}" class="form-control" placeholder="yyyy-mm-dd"
             name="dp" formControlName="dateOfBirth">
    </div>
  </div>
  <div class="form-group row">
    <label for="occupation" class="col-sm-3 col-form-label">Occupation*</label>
    <div class="col-sm-4">
      <select class="custom-select" formControlName="occupation">
        <option disabled selected value="0">select occupation</option>
        <option *ngFor="let occupation of occupations" [value]="occupation.rating">{{occupation.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Death – Sum Insured*</label>
    <div class="col-sm-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" placeholder="sum insured" formControlName="sumInsured">
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <button class="btn btn-primary col-sm-7" [disabled]="!premiumCalculatorForm.valid" type="submit">Calculate</button>
  </div>
</form>

<div class="form-group row">
  <p aria-live="polite">Monthly Premium: <strong>{{ monthlyPremium | currency : 'AUD' }}</strong></p>
</div>
